*, *::after, *::before {
    margin: 0;
    padding: 0;
}
body{
  text-align: center;
  font-size: 1em;
  line-height: 1.4;
}
h1{
  text-decoration: underline;
  font-weight: 600;
 color: gray;
}
.all{
  padding-top: 30px;
  margin-bottom: 30px;
}
.div-1{
  padding-top: 1em;
  text-align: start;
  border: 1px solid gray;
  cursor: pointer;
  width: 70%;
  margin-left: 200px;
  box-shadow: 0 5px 8px 0 rgb(0, 0,0, 0.1);
  
}
.div-qs-1{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
  
}
.div-qs-1 p{
   font-size: 1.2em;
}
.div-ans-1{
  text-align: start;
  justify-content: flex-start; 
  flex-direction: column; 
  margin-bottom: 20px;
  padding-left: 20px;
  background: rgb(173, 170, 170);
  width: 68.7%;
  margin-left: 200px;
  
}
.ans-1{
   font-size: 1.1em;
   padding: 5px;
   
}
.symbol{
  margin-right: 20px;
}
@media (min-width: 360px) and (max-width: 640px) {
  .div-1{
    margin-left: 60px;
  }
  .div-ans-1{
    margin-left: 60px;
    padding-left: 8px;
    
  }
}

@media (min-width: 642px) and (max-width: 900px) {
  .div-1{
    margin-left: 120px;
  }
  .div-ans-1{
    margin-left: 120px;
    margin-top: auto;
    padding-left: 12px;
  }
}